/* Reset de estilos para eliminar márgenes y padding predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #00b887;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  /* Estilos para la barra de navegación */
  nav {
    background-color: #666666;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav ul li a:hover {
    background-color: #999999;
  }

  /* Estilos para la imagen */
  section img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 100px;
    max-height: 150px;
  }

  /* Estilos para las secciones */
  section {
    background-color: #d7ffed;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  section h2 {
    color: #333333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  section p {
    color: #666666;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }
  