
 /* Reset de estilos para el body */
    body {
      margin: 0;
      padding: 0;
    }

    /* Estilos generales para los encabezados */
    h1, h2 {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-weight: bold;
    }

    /* Estilos para la sección de inicio */
    #inicio {
      padding: 50px;
      background-color: #FFD1DC;
    }

    #inicio img {
      width: 150px; /* Cambiar el ancho de la imagen según tu preferencia */
      height: 150px; /* Cambiar la altura de la imagen según tu preferencia */
      border-radius: 50%; /* Opcional: agregar bordes redondeados a la imagen */
    }


    /* Estilos para la sección de habilidades */
    #habilidades {
      padding: 50px;
      background-color: #BCE5F5;
    }

    /* Estilos para la lista de habilidades */
    #habilidades ul {
      list-style-type: none;
    }

    /* Estilos para la sección de proyectos */
    #proyectos {
      padding: 50px;
      background-color: #FFFFC2;
    }

    /* Estilos para la lista de proyectos */
    #proyectos ul {
      list-style-type: none;
    }

    /* Estilos para la sección de contacto */
    #contacto {
      padding: 50px;
      background-color: #DCE0EA;
    }

    /* Estilos para la lista de contacto */
    #contacto ul {
      list-style-type: none;
    }

    /* Estilos generales para los párrafos y listas */
    p, ul {
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #333;
    }
